.itemPics {
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
  list-style: none;
  margin: 0;
  justify-content: space-around;
  flex-wrap: wrap;
}

.itemPics img {
  width: 20%;
}

.images {
  float: left;
  width: 33.33%;
  padding: 5px;
}